<div class="user-details">
  <h1>Our Mission</h1>
  <p>
  The BEAT Lab aims to develop multiscale computational and experimental tools to investigate cardiovascular biomechanics and electrophysiology, and to train a new, diverse generation of biomedical engineers. We collaborate closely with clinicians to focus on research questions that are relevant to patient health and strive to integrate our models in the clinic to make a direct impact on healthcare.</p>

  <p>We will open our doors at the start of the 2022 Spring Quarter at the UC Irvine, within the Department of Biomedical Engineering and Edwards Life Sciences Foundation Cardiovascular Innovation and Research Center.</p>
</div>
<div class="user-details">
  <h1>Join us!</h1>
  <p>We are looking for motivated graduate and undergraduate students to join our lab. This will be an exciting opportunity for you to join a brand new lab, where you will be part of establishing a collaborative and inclusive lab culture, while laying the foundation for current and future research projects. Please reach out to <a href="mailto:p.j.a.oomen@gmail.com">Pim Oomen</a> if you are interested.</p>
</div>

<div class="user-details">
<h1>Research Projects</h1>
</div>

<div class="user">


  <div class="tech">
    <h2>Computational models</h2>
    <!--<img src="{{ '/assets/ModelSchematic.png' | prepend: site.baseurl }}" style="width:300px;">  -->
    <img src="{{ '/assets/fluoro.gif' | prepend: site.baseurl }}">  
    <p>Electrophysiology and mechanics-driven growth &amp; remodeling play crucial roles in the onset and progression of cardiac disease, as well as in the long-term outcome of potential therapies. Yet, the mechanics of growth &amp; remodeling are not well established and differ from patient to patient, leading to challenges in both patient diagnosis and treatment. We develop multiscale, patient-specific computational models to understand and improve long-term  growth &amp; remodeling of the heart.</p>
  </div>


  <div class="tech">
    <h2>Experimental models/h2>
    <img src="{{ '/assets/cardiomyocytes.jpg' | prepend: site.baseurl }}" style="margin-top: 0.5em;width:300px;">
    <p>In the heart, the extent of cardiomyocyte remodeling is related to changes in the mechanical environment and often differs in different directions, a fact that is crucial for clinical prognosis. The mechanics of cardiomyocyte remodeling are still not fully understood. Thus, the goal of this experimental project is to unravel the mechanics of anisotropic cardiomyocyte remodeling using an in vivo and/or in vitro platforms.
</p>
  </div>


  <div class="tech">
    <h2>Cardiac Resynchronization Therapy</h2>
    <img src="{{ '/assets/CRT.jpg' | prepend: site.baseurl }}" style="width:300px;">
    <p>Cardiac Resynchronization Therapy has emerged as a potentially effective therapy to reverse heart failure. Interestingly, it can be personalized for each patient, yet there are far too many options for the clinicians to test during the implantation procedure. We are developing a fast, patient-specific computer model to improve the success rate of CRT and treat heart failure in more patients.</p>
  </div>


</div>
