<div class="user-details">
  <h1>Our Mission</h1>
  <p>
  The BEAT Lab's mission is to develop multiscale computational and experimental tools to investigate cardiovascular biomechanics and electrophysiology, and to train a new, diverse generation of biomedical engineers. We collaborate closely with clinicians to focus on research questions that are relevant to patient health and strive to integrate our models in the clinic to make a direct impact on healthcare.</p>

  <p>We will open our doors at the start of the 2022 Spring Quarter at the UC Irvine, within the Department of Biomedical Engineering and Edwards Life Sciences Foundation Cardiovascular Innovation and Research Center.</p>
</div>
<div class="user-details">
  <h1>Join us!</h1>
  <p>We are looking for motivated graduate and undergraduate students to join our lab. This will be an exciting opportunity for you to join a brand new lab, where you will be part of establishing a collaborative and inclusive lab culture, while laying the foundation for current and future research projects. We are looking for students with interests in patient-specific modeling and/or experimental methods design. Please reach out to <a href="mailto:p.j.a.oomen@gmail.com">Pim Oomen</a> if you are interested.</p>
</div>

<div class="user-details">
<h1>Research Projects</h1>
</div>

<div class="user">


  <div class="tech">
    <h2>Computational models</h2>
    <!--<img src="{{ '/assets/ModelSchematic.png' | prepend: site.baseurl }}" style="width:300px;">  -->
    <img src="{{ '/assets/fluoro.gif' | prepend: site.baseurl }}">  
    <p>The onset and progression of cardiac disease as well as the outcome of clinical therapies is determined by a complicated interplay between (elecro)physiology, mechanics, growth &amp remodeling, and neurohormonal signaling. We develop multiscale computational models to increase our understanding of the inner workings of the heart, test new hypotheses, design experiments, and to improve and design clinical therapies.</p>
  </div>


  <div class="tech">
    <h2>Experimental models</h2>
    <img src="{{ '/assets/cardiomyocytes.jpg' | prepend: site.baseurl }}" style="margin-top: 0.5em;width:300px;">
    <p>The extent of cardiomyocyte remodeling is related to changes in their mechanical and neurohormonal environment and often differs in different directions, a fact that is crucial for clinical prognosis and treatment. We are developing, aided by computational models, an experimental platform to unravel the mechanics of anisotropic cardiomyocyte remodeling.
</p>
  </div>


  <div class="tech">
    <h2>Cardiac Resynchronization Therapy</h2>
    <img src="{{ '/assets/CRT.jpg' | prepend: site.baseurl }}" style="width:300px;">
    <p>Cardiac Resynchronization Therapy has emerged as a potentially effective therapy to reverse heart failure. Interestingly, it can be personalized for each patient, yet there are far too many options for the clinicians to test during the implantation procedure. We are, in close collaboration with clinicians, developing a fast, patient-specific computer model to improve the success rate of CRT and treat heart failure in more patients.</p>
  </div>


</div>
